
.LoginwithGoogle{
     margin-top: 29px;
     cursor: pointer;

}

.inputbox{
     margin-top: 30px;
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     font-size: 20px;
     font-weight: 600;
     width: 372px;
}

.Loginprogramming{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.subheading{
     margin-top: 13px;
     color: #11175D;
     font-family: Nunito;
     font-size: 20.641px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

.loading_wrapper{
     position: absolute;
      background-color: rgba(9, 1, 17, 0.872);
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
}
